@page "/admin"
@using BuildShop.Database
@using BuildShop.Model
@rendermode InteractiveServer
@inject BuildContext ef

<EditForm FormName="formAddItem" Model="_product" OnValidSubmit="@Submit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <p>Введите называние товара</p>
    <input type="text" @bind="_product.Title"/>
    <p>Введите количество товара</p>
    <input type="text" @bind="_product.Count"/>
    <p>Введите цену товара</p>
    <input type="text" @bind="_product.Price"/>
    <p>Введите ссылку на изображение товара</p>
    <input type="text" @bind="_product.Style"/>
    <p>Определите тип товара</p>
    <select @bind="_product.Kind">
        <option>Выберите категорию</option>
        @foreach (var item in ef.Categories.ToList())
        {
            <option>@item.Type</option>
        }
    </select>
    <button type="submit">Добавить продукт</button>
</EditForm>
<div>
    <a class="BackRef" href="https://localhost:7283/">Вернуться в каталог</a>
</div>
<div>
    <a class="BackRef" href="https://localhost:7283/adminType">Добавить категорию</a>
</div>
<div style="margin-left: 100px; width: 1600px" class="AllProducts">
    <div class="parent">
        <div class="parent">
            @foreach (var item in ef.Products.ToList())
            {
            <div class="Products">
                <img class="Imag" src="@item.Style">
                <p class="Text">@item.Title</p>
                <p class="Categ">@item.Kind</p>
                <p class="Price"> @item.Price рублей</p>
                <p class="Cound">за @item.Count упаковку</p>
                <a class="Buy" href="https://localhost:7283/deliverey" type="submit">Купить</a>
            </div>
            }
        </div>
    </div>
</div>
@code {
    private Product _product = new Product();

    private void Submit(EditContext arg)
    {
        ef.Add(_product); ;
        ef.SaveChanges();
        _product = new Product();
    }
}