@page "/BasketP"
@using BuildShop.Database
@using BuildShop.Model
@inject BuildContext ef
@rendermode InteractiveServer
<a style="color: black; text-decoration: none" href="https://localhost:7283/">
    <h3>Вернуться в каталог</h3>
</a>
<div class="DP1">
    @foreach (var item in ef.Baskets.ToList())
    {
    <div class="Products @(item.Id == _basket.Id ? "selected-product" : "")">
        <img class="Imag" src="@item.BasketStyle">
        <p class="Text">@item.BasketTittle</p>
        <p class="Categ">@item.BasketKind</p>
        <p class="Price">@item.BasketPrice рублей</p>
        <p class="Cound">за @item.BasketCount упаковку</p>
        <div class="DP2">
            <button class="Buy" @onclick="() => DeleteFromBasket(item)">Удалить из корзины</button>
            <a class="Buy" href="https://localhost:7283/Deliverey">Купить</a>
        </div>
    </div>
    }
</div>

@code {
    private Basket _basket = new Basket();

    private async Task DeleteFromBasket(Basket basketToDelete)
    {
        ef.Baskets.Remove(basketToDelete);
        await ef.SaveChangesAsync();
        await InvokeAsync(StateHasChanged);
    }
}