@page "/"
@using BuildShop.Database
@using BuildShop.Model
@rendermode InteractiveServer
@inject BuildContext ef
<PageTitle>Catalog</PageTitle>
<div style="height: 100%; padding-bottom: 10px" class="CatalogHead">
    <div class=DP1>
        <div class="DP1">
            <a  href="https://localhost:7283/" class="Name">
                <div class="HomeImage">
                    <img class="HomeImage" src="Frame 1.png"/>
                </div>
                <p class="Div">СтройДом</p>
            </a>
            <div>
                <div class="DP1">
                    <a href="https://localhost:7283/" class="Catalog">Каталог</a>
                    <input class="Quest" type="text"/>
                    <a href="https://localhost:7283/BasketP" class="Catalog">Корзина</a>
                </div>
                <div>
                    <div class="Categories">
                        <div style="width: 1370px" class="parent">
                            @foreach (var item in ef.Categories.ToList())
                            {
                            <div class="Type">
                                <p>@item.Type</p>
                            </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="Categories">
        <div class="DP1">
            @foreach (var item in ef.Categories.ToList())
            {
                <div>
                    <p>@item.Type</p>
                </div>
            }
        </div>
    </div>-->
</div>
<div style="margin-top: 10px; margin-bottom: 20px" class="AllProducts">
    <div class="parent">
        <div class="parent">
            @foreach (var item in ef.Products.ToList())
            {
                <div class="Products">
                    <img class="Imag" src="@item.Style">
                    <p class="Text">@item.Title</p>
                    <p class="Categ">@item.Kind</p>
                    <p class="Price"> @item.Price рублей</p>
                    <p class="Cound">за @item.Count упаковку</p>
                    <button class="Buy" onclick="@(() => AddProduct(item))">Добавить в корзуну</button>
                    <a class="Buy" href="https://localhost:7283/deliverey" type="submit">Купить</a>
                </div>
            }
        </div>
    </div>
</div>
<div class="Down">
    <div class="parent">
        <div class="About">
            <h3>О компании</h3>
            <p>О нас</p>
            <p>Преимущества</p>
            <p>Новости</p>
            <p>Карьера</p>
        </div>
        <div class="About">
            <h3>Покупателям</h3>
            <p>Акции</p>
            <p>Готовые решения</p>
            <p>Оплата</p>
            <p>Возврат</p>
        </div>
        <div class="About">
            <h3>Информация</h3>
            <p>ООО "СТРОЙДОМ"</p>
            <a class="Reference" href="https://localhost:7283/basketP">Telegram: PAVELPARTIZAN</a><p></p>
            <a class="Reference" href="https://localhost:7283/admin">Телефон: +7 (937) 206-65-96</a><p></p>
            <a class="Reference" href="https://localhost:7283/adminType">Email: pavelg25052007@gmail.com</a>
        </div>
    </div>
</div>
@code
{
    private Basket _basket = new Basket();
    private Product _product;

    private void Cheked()
    {
        var first = ef.Products.FirstOrDefault(s => s.Id == 5);
    }
    private void AddProduct(Product current)
    {
        _basket = new Basket()
        {
            BasketCount = current.Count, 
            BasketKind = current.Kind, 
            BasketPrice = current.Price, 
            BasketStyle = current.Style, 
            BasketTittle = current.Title

        };

        ef.Baskets.Add(_basket);
        ef.SaveChanges();
    }
}
