@page "/ShoppingCase"
@using BuildShop.Database
@using BuildShop.Model
@rendermode InteractiveServer
@inject BuildContext ef
<h3>ShoppingCase</h3>
<p>@_product.Basket</p>
@if (_product.Basket == 1)
{
<div>
    @foreach (var item in ef.Products.ToList())
    {
    <img src="@item.Style">
    <p>@item.Title</p>
    <p>@item.Kind</p>
    <p>@item.Price рублей за @item.Count упаковку</p>
    }
</div>
}
@code {
    private Product _product = new Product();
}